<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tower of Whispering </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static',filename='index.js')}}"></script>

</head>
<body>
    <div class="nav-bar">
        <h2>MENU</h2>
        <a href="/">Home</a>
        <a href="#">Play</a>
        <a href="#">Ranking</a>
        <a href="#">Help</a>
        <div class="auth-buttons">
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
