<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tower of Whispering </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='g_style.css') }}">
    <script src="{{url_for('static',filename='g_script.js')}}"></script>

</head>
<body>
    <div class="nav-bar">
        <h2>MENU</h2>
        <a href="/">Home</a>
        <a href="javascript:play()">Play</a>
        <a href="/rank">Ranking</a>
        <a href="/flag">FLAG</a>
        <a href="/myinfo">Myinfo</a>
        
        <div class="auth-buttons">
            {% if not session %}
            <a href="javascript:login_action()">Login</a>
            <a href="javascript:sign_up();">Sign Up</a>
            {% else %}
            <a href="/logout">Logout</a>
            {% endif %}
        </div>
        
    </div>

    {% block content %}{% endblock %}
</body>
</html>
