* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #4CAF50;
}

.scoreboard {
    margin-bottom: 20px;
    text-align: left;
}

.player {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player h2 {
    font-size: 20px;
    color: #333;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

#rank {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}


